-- MySQL dump 10.13  Distrib 9.7.1, for Win64 (x86_64)
--
-- Host: localhost    Database: student_intern
-- ------------------------------------------------------
-- Server version	9.7.1

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;
SET @MYSQLDUMP_TEMP_LOG_BIN = @@SESSION.SQL_LOG_BIN;
SET @@SESSION.SQL_LOG_BIN= 0;

--
-- GTID state at the beginning of the backup 
--

SET @@GLOBAL.GTID_PURGED=/*!80000 '+'*/ '8f2cafd2-8107-11f1-8658-f8edfc6f408f:1-177';

--
-- Table structure for table `application`
--

DROP TABLE IF EXISTS `application`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `application` (
  `application_id` varchar(15) NOT NULL,
  `status` varchar(20) DEFAULT 'Pending',
  `applied_date` date NOT NULL,
  `resume_url` varchar(255) DEFAULT NULL,
  `student_id` varchar(15) NOT NULL,
  `posting_id` varchar(15) NOT NULL,
  PRIMARY KEY (`application_id`),
  KEY `student_id` (`student_id`),
  KEY `posting_id` (`posting_id`),
  CONSTRAINT `application_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `student` (`student_id`) ON DELETE RESTRICT,
  CONSTRAINT `application_ibfk_2` FOREIGN KEY (`posting_id`) REFERENCES `internship_posting` (`posting_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `application`
--

LOCK TABLES `application` WRITE;
/*!40000 ALTER TABLE `application` DISABLE KEYS */;
/*!40000 ALTER TABLE `application` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `company`
--

DROP TABLE IF EXISTS `company`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `company` (
  `company_id` varchar(15) NOT NULL,
  `name` varchar(100) NOT NULL,
  `industry` varchar(50) DEFAULT NULL,
  `location` varchar(100) DEFAULT NULL,
  `contact` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`company_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `company`
--

LOCK TABLES `company` WRITE;
/*!40000 ALTER TABLE `company` DISABLE KEYS */;
/*!40000 ALTER TABLE `company` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `faculty_mentor`
--

DROP TABLE IF EXISTS `faculty_mentor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `faculty_mentor` (
  `faculty_id` varchar(15) NOT NULL,
  `name` varchar(100) NOT NULL,
  `department` varchar(50) DEFAULT NULL,
  `email` varchar(100) NOT NULL,
  PRIMARY KEY (`faculty_id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `faculty_mentor`
--

LOCK TABLES `faculty_mentor` WRITE;
/*!40000 ALTER TABLE `faculty_mentor` DISABLE KEYS */;
/*!40000 ALTER TABLE `faculty_mentor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `internship_posting`
--

DROP TABLE IF EXISTS `internship_posting`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `internship_posting` (
  `posting_id` varchar(15) NOT NULL,
  `title` varchar(100) NOT NULL,
  `description` text,
  `duration` varchar(30) DEFAULT NULL,
  `stipend` decimal(10,2) DEFAULT NULL,
  `company_id` varchar(15) DEFAULT NULL,
  PRIMARY KEY (`posting_id`),
  KEY `company_id` (`company_id`),
  CONSTRAINT `internship_posting_ibfk_1` FOREIGN KEY (`company_id`) REFERENCES `company` (`company_id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `internship_posting`
--

LOCK TABLES `internship_posting` WRITE;
/*!40000 ALTER TABLE `internship_posting` DISABLE KEYS */;
/*!40000 ALTER TABLE `internship_posting` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `internship_record`
--

DROP TABLE IF EXISTS `internship_record`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `internship_record` (
  `record_id` varchar(15) NOT NULL,
  `start_date` date NOT NULL,
  `end_date` date DEFAULT NULL,
  `final_status` varchar(20) DEFAULT 'Ongoing',
  `evaluation_score` decimal(4,2) DEFAULT NULL,
  `application_id` varchar(15) NOT NULL,
  `faculty_id` varchar(15) DEFAULT NULL,
  PRIMARY KEY (`record_id`),
  UNIQUE KEY `application_id` (`application_id`),
  KEY `faculty_id` (`faculty_id`),
  CONSTRAINT `internship_record_ibfk_1` FOREIGN KEY (`application_id`) REFERENCES `application` (`application_id`) ON DELETE CASCADE,
  CONSTRAINT `internship_record_ibfk_2` FOREIGN KEY (`faculty_id`) REFERENCES `faculty_mentor` (`faculty_id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `internship_record`
--

LOCK TABLES `internship_record` WRITE;
/*!40000 ALTER TABLE `internship_record` DISABLE KEYS */;
/*!40000 ALTER TABLE `internship_record` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `progress_report`
--

DROP TABLE IF EXISTS `progress_report`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `progress_report` (
  `record_id` varchar(15) NOT NULL,
  `week_num` int NOT NULL,
  `description` text NOT NULL,
  `mentor_feedback` text,
  PRIMARY KEY (`record_id`,`week_num`),
  CONSTRAINT `progress_report_ibfk_1` FOREIGN KEY (`record_id`) REFERENCES `internship_record` (`record_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `progress_report`
--

LOCK TABLES `progress_report` WRITE;
/*!40000 ALTER TABLE `progress_report` DISABLE KEYS */;
/*!40000 ALTER TABLE `progress_report` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student`
--

DROP TABLE IF EXISTS `student`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student` (
  `student_id` varchar(15) NOT NULL,
  `name` varchar(100) NOT NULL,
  `email` varchar(100) NOT NULL,
  `program` varchar(50) DEFAULT NULL,
  `semester` int DEFAULT NULL,
  `cgpa` decimal(3,2) DEFAULT NULL,
  PRIMARY KEY (`student_id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student`
--

LOCK TABLES `student` WRITE;
/*!40000 ALTER TABLE `student` DISABLE KEYS */;
/*!40000 ALTER TABLE `student` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `view_active_postings`
--

DROP TABLE IF EXISTS `view_active_postings`;
/*!50001 DROP VIEW IF EXISTS `view_active_postings`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `view_active_postings` AS SELECT 
 1 AS `posting_id`,
 1 AS `company_name`,
 1 AS `location`,
 1 AS `role_title`,
 1 AS `stipend`,
 1 AS `duration`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `view_progress_reports`
--

DROP TABLE IF EXISTS `view_progress_reports`;
/*!50001 DROP VIEW IF EXISTS `view_progress_reports`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `view_progress_reports` AS SELECT 
 1 AS `record_id`,
 1 AS `week_num`,
 1 AS `description`,
 1 AS `mentor_feedback`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `view_student_records`
--

DROP TABLE IF EXISTS `view_student_records`;
/*!50001 DROP VIEW IF EXISTS `view_student_records`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `view_student_records` AS SELECT 
 1 AS `record_id`,
 1 AS `student_name`,
 1 AS `program`,
 1 AS `mentor_name`,
 1 AS `start_date`,
 1 AS `end_date`,
 1 AS `final_status`*/;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `view_active_postings`
--

/*!50001 DROP VIEW IF EXISTS `view_active_postings`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `view_active_postings` AS select `p`.`posting_id` AS `posting_id`,coalesce(`c`.`name`,'Independent Partner') AS `company_name`,`c`.`location` AS `location`,`p`.`title` AS `role_title`,`p`.`stipend` AS `stipend`,`p`.`duration` AS `duration` from (`internship_posting` `p` left join `company` `c` on((`p`.`company_id` = `c`.`company_id`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `view_progress_reports`
--

/*!50001 DROP VIEW IF EXISTS `view_progress_reports`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `view_progress_reports` AS select `pr`.`record_id` AS `record_id`,`pr`.`week_num` AS `week_num`,`pr`.`description` AS `description`,`pr`.`mentor_feedback` AS `mentor_feedback` from `progress_report` `pr` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `view_student_records`
--

/*!50001 DROP VIEW IF EXISTS `view_student_records`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `view_student_records` AS select `r`.`record_id` AS `record_id`,coalesce(`s`.`name`,'Student') AS `student_name`,`s`.`program` AS `program`,coalesce(`fm`.`name`,'Faculty Mentor') AS `mentor_name`,`r`.`start_date` AS `start_date`,`r`.`end_date` AS `end_date`,`r`.`final_status` AS `final_status` from (((`internship_record` `r` left join `application` `a` on((`r`.`application_id` = `a`.`application_id`))) left join `student` `s` on((`a`.`student_id` = `s`.`student_id`))) left join `faculty_mentor` `fm` on((`r`.`faculty_id` = `fm`.`faculty_id`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
SET @@SESSION.SQL_LOG_BIN = @MYSQLDUMP_TEMP_LOG_BIN;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-10-06  1:07:14
